FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("~/images/netflixbg.png");
  }
  StackLayout {
    width: 320;
    padding: 10 16;
    margin-top: 130;
    background-color: #f0f0f0;
    background-size: cover;
    opacity: 0.875;
  }
  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  .btn-primary {
    background-color: rgb(0, 162, 203);
    margin-left: 0;
    margin-right: 0;
  }
  TextField {
    placeholder-color: #C4AFB4;
    color: black;
  }
  .signUpText{
      color: rgb(82, 80, 80);
  }
  .dark {
    background-color: #07033d;
  }
  .dark TextField {
    color:  #C4AFB4;
  }
  