<ActionBar title="Series I've Watched"></ActionBar>


<GridLayout rows="auto, *">

    <GridLayout row="0" columns="*, auto" class="add-bar">
      <!--<TextField #artistTextField hint="Enter a Vaporwave Artist" col="0" [(ngModel)]='artist.name'></TextField>-->
      <Label text="Create a new entry" col="0" style="font-size:25; color: darkgray "></Label>
      <Image src="~/images/add.png" col="1" (tap)="add()"></Image>
    </GridLayout>
  
    <RadListView row="1" [items]="artists" [class.visible] = "listLoaded"
    swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">

          <ng-template let-item="item">
            <StackLayout class= "fullItem">
            <Label [id]="item._id" [text]="item.name" class="p-15" (tap)="itemTapped($event)"></Label>
            </StackLayout>
          </ng-template>

          <GridLayout *tkListItemSwipeTemplate columns="*, auto">
                <StackLayout id="delete-view" col="1" (tap)="delete($event)" class="delete-view">
                <Image src="~/images/delete.png"></Image>
              </StackLayout>
            </GridLayout>

    </RadListView>

<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
  </GridLayout>
  